@charset "utf-8";
@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.top__decolation--top {
  animation: fadeIn 1s 0s both;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 266px;
  height: 218px;
  background-image: url(../images/top__decolation--top.png);
  background-repeat: no-repeat;
}
.top__decolation--center {
  animation: fadeIn 1s 1.5s both;
  position: absolute;
  top: 15vh;
  left:45%;
  background-image: url(../images/top__decolation--center.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 517px;
}
.top__decolation--bottom {
  animation: fadeIn 1s 1s both;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-image: url(../images/top__decolation--bottom.png);
  background-repeat: no-repeat;
  width: 160px;
  height: 150px;
}
h1 {
  animation: fadeIn 1s 1.5s both;
  position: absolute;
  top: 35vh;
  left: 25%;
  z-index: 100;
}
h1 img {
  width: fit-content;
  height: 25vh;
}
nav {
  animation: fadeIn 1s 1.5s both;
}
.nav__top {
  color: rgb(0, 0, 0,0.5);
}
.nav__work::after,
.nav__plofile::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0%;
  height: 1.5px;
  background-color: black;
  transform: translateX(-50%);
  transition: 0.3s ease;
}
.nav__work:hover::after,
.nav__plofile:hover::after {
  width: 80%;
}
footer{
  animation: fadeIn 1s 1s both;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  font-size: 10px;
  font-weight: 300;
  line-height: 100%;
  height: fit-content;
  margin: auto;
}