@charset "utf-8";
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
h2 {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  height: fit-content;
  width: fit-content;
  margin: auto;
  transition:all 0.8s ease;
}

/*work defolt*/
input[type="radio"] {
  display: none;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr  1fr;
  height: 100vh;
  grid-template-areas: "banner web-site flyer";
  transition: all 0.8s ease;
}
.banner__wrapper {
  grid-area: banner;

}
.web-site__wrapper {
  grid-area: web-site;
  border: solid 1px black;
  border-top: hidden;
  border-bottom: hidden;
}
.flyer__wrapper {
  grid-area: flyer;

}
.banner__wrapper label,
.web-site__wrapper label,
.flyer__wrapper label{
  display: flex;
  width: 100%;
  height: 100%;
}
/*radio checked, grid*/
#banner__radio:checked ~ .grid{
  grid-template-columns: 9fr 0.5fr 0.5fr;
  height: 100vh;
  grid-template-areas: "banner web-site flyer";
}
#web-site__radio:checked ~ .grid{
  grid-template-columns: 0.5fr 9fr 0.5fr;
  height: 100vh;
  grid-template-areas: "banner web-site flyer";
}
#flyer__radio:checked ~ .grid{
  grid-template-columns: 0.5fr 0.5fr 9fr;
  height: 100vh;
  grid-template-areas: "banner web-site flyer";
}
/*radio checked, h2*/
#banner__radio:checked ~ .grid .web-site__wrapper h2,
#banner__radio:checked ~ .grid .flyer__wrapper h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
#web-site__radio:checked ~ .grid .banner__wrapper h2,
#web-site__radio:checked ~ .grid .flyer__wrapper h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
#flyer__radio:checked ~ .grid .banner__wrapper h2,
#flyer__radio:checked ~ .grid .web-site__wrapper h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}