@charset "utf-8";
h2 {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  height: fit-content;
  width: fit-content;
  margin: auto;
  transition:all 0.8s ease;
}input[type="radio"] {
  display: none;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr  1fr;
  height: 100vh;
  grid-template-areas: "banner web-site flyer";
  transition: all 0.8s ease;
}
.banner__wrapper {
  position: relative;
  grid-area: banner;

}
.web-site__wrapper {
  position: relative;
  grid-area: web-site;
  border: solid 1px black;
  border-top: hidden;
  border-bottom: hidden;
}
.flyer__wrapper {
  position: relative;
  grid-area: flyer;

}
.banner__wrapper label,
.web-site__wrapper label,
.flyer__wrapper label{
  display: flex;
  width: 100%;
  height: 100%;
}
/*radio checked, grid*/
#banner__radio:checked ~ .grid{
  grid-template-columns: 9fr 0.5fr 0.5fr;
  height: 100vh;
  grid-template-areas: "banner web-site flyer";
}
#web-site__radio:checked ~ .grid{
  grid-template-columns: 0.5fr 9fr 0.5fr;
  height: 100vh;
  grid-template-areas: "banner web-site flyer";
}
#flyer__radio:checked ~ .grid{
  grid-template-columns: 0.5fr 0.5fr 9fr;
  height: 100vh;
  grid-template-areas: "banner web-site flyer";
}
/*radio checked, h2*/
#banner__radio:checked ~ .grid .banner__wrapper h2{
  position: absolute;
  top: 15px;
  left: 15px;
  transform: rotate(360deg);
}
#banner__radio:checked ~ .grid .web-site__wrapper h2,
#banner__radio:checked ~ .grid .flyer__wrapper h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
#web-site__radio:checked ~ .grid .web-site__wrapper h2{
  position: absolute;
  top: 15px;
  left: 15px;
  transform: rotate(360deg);
}
#web-site__radio:checked ~ .grid .banner__wrapper h2,
#web-site__radio:checked ~ .grid .flyer__wrapper h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
#flyer__radio:checked ~ .grid .flyer__wrapper h2{
  position: absolute;
  top: 15px;
  left: 15px;
  transform: rotate(360deg);
}
#flyer__radio:checked ~ .grid .banner__wrapper h2,
#flyer__radio:checked ~ .grid .web-site__wrapper h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.reset__button{
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
  background-image: url(../images/reset.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
  z-index: 100;
}
.reset__button label {
  width: 30px;
  height: 30px;
}